body {
  margin: 0;
  padding: 0;
  background: #1D976C;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

.contenedor {
  display: flex;
  max-width: 880px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 28px #446637;
}
@media screen and (max-width: 1024px) {
  .contenedor {
    width: 98%;
  }
}
@media screen and (max-width: 768px) {
  .contenedor {
    width: 80%;
  }
}

.cont-info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem 6rem;
  width: 60%;
  box-sizing: border-box;
  background: rgb(255, 241, 242);
}
@media screen and (max-width: 1024px) {
  .cont-info {
    padding: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .cont-info {
    width: 100%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 640px) {
  .cont-info {
    padding: 2.5rem;
  }
}
.cont-info .icn-info_cerrar {
  position: absolute;
  right: 0;
  margin-top: -6.3rem;
  margin-right: 1.5rem;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(117, 141, 128);
  visibility: hidden;
}
.cont-info .icn-info_cerrar svg {
  width: 20px;
  color: hsla(122deg, 48%, 87%, 0.637);
  font-weight: bolder;
}
@media screen and (max-width: 640px) {
  .cont-info .icn-info_cerrar svg {
    transition: 0.3s;
  }
}
@media screen and (max-width: 768px) {
  .cont-info .icn-info_cerrar {
    margin-top: -5.3rem;
    visibility: visible;
  }
}
@media screen and (max-width: 640px) {
  .cont-info .icn-info_cerrar {
    margin-top: -3.8rem;
  }
}
.cont-info .icn-info_cerrar:hover svg {
  cursor: pointer;
  transform: scale(1.3);
}
.cont-info h2 {
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 640px) {
  .cont-info h2 {
    margin: 0.5rem 0;
  }
}
.cont-info .detalle-info {
  font-size: 1rem;
}
@media screen and (max-width: 640px) {
  .cont-info .detalle-info {
    text-align: center;
  }
}
.cont-info input {
  box-sizing: border-box;
  background: rgb(255, 241, 242);
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: solid 0.5px #ccc;
  margin: 1rem 0;
}
@media screen and (max-width: 640px) {
  .cont-info input {
    font-size: 0.8rem;
  }
}
.cont-info input:focus {
  outline: solid 1px #4297b1;
  background: #fff;
  color: #000;
  box-shadow: 3px 0 10px #4297b1;
}
.cont-info .btn-acceso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
@media screen and (max-width: 640px) {
  .cont-info .btn-acceso {
    flex-direction: column;
  }
}
.cont-info .btn-acceso a {
  text-decoration: none;
  color: #0c91b6;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .cont-info .btn-acceso a {
    order: 1;
    margin-top: 2rem;
  }
}
.cont-info .btn-acceso .boton {
  max-width: 100px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .cont-info .btn-acceso .boton {
    max-width: 300px;
    width: 100%;
    order: 0;
  }
}
.cont-info .btn-acceso .boton button {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: #087594;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  transition-duration: 0.5s;
}
@media screen and (max-width: 640px) {
  .cont-info .btn-acceso .boton button {
    justify-content: center;
    max-width: 300px;
    width: 100%;
  }
}
.cont-info .btn-acceso .boton button svg {
  width: 20px;
}
.cont-info .btn-acceso .boton button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.cont-info hr {
  width: 100%;
}
.cont-info .txt-iconos {
  text-align: center;
  font-size: 1rem;
  color: #8f8282;
  margin: 1rem 0;
}
.cont-info .iconos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.cont-info .iconos img {
  width: 50px;
  transition: 0.5s;
}
.cont-info .iconos img:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.modal-inicial {
  display: block;
  position: relative;
  max-width: 352px;
}
@media screen and (max-width: 768px) {
  .modal-inicial {
    display: none;
  }
}
.modal-inicial .icono-cerrar {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: -1.3rem;
  margin-right: 1.5rem;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 241, 242);
}
.modal-inicial .icono-cerrar svg {
  width: 20px;
  color: #000;
  transition: 0.5s;
}
.modal-inicial .icono-cerrar svg:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.modal-inicial .modal-inicial_img {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-inicial .modal-inicial_img img {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}/*# sourceMappingURL=style.css.map */